[submodule "site"]
	path = site
	url = http://git.drupal.org/project/drupal.git
[submodule "includes/modules/custom/google_authorship"]
	path = includes/modules/custom/google_authorship
	url = http://git.drupal.org/project/google_authorship.git
[submodule "includes/modules/contrib/devel"]
	path = includes/modules/contrib/devel
	url = http://git.drupal.org/project/devel.git
[submodule "includes/modules/contrib/admin_menu"]
	path = includes/modules/contrib/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "includes/modules/contrib/metatag"]
	path = includes/modules/contrib/metatag
	url = http://git.drupal.org/project/metatag.git
