[submodule "site"]
	path = site
	url = http://git.drupal.org/project/drupal.git
[submodule "includes/modules/custom/google_authorship"]
	path = includes/modules/custom/google_authorship
	url = http://git.drupal.org/project/google_authorship.git
